[Unit]
Description=Telegram bot 'bot_swiss'
After=syslog.target
After=network.target

[Service]
Type=simple
User=bot
WorkingDirectory=/home/bot/bot_swiss
ExecStart=/usr/bin/python3 /home/bot/bot_swiss/bot.py

RestartSec=10
Restart=ALWAYS

[Install]
WantedBy=multi-user.target